body{
    background-color: pink;
}

h1{
    text-align: center;
    color: white;
}

.flexbox{
    display: flex;
    align-items: center;
}

.nota {
    padding: 15px;
    background-color: antiquewhite;
    border-radius: 15px;
  }
  
  .d-none{
    display: none;
  }